<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
<entry key="node_file" type="xstring" value="settings.xml"/>
<config key="flow_stack"/>
<config key="internal_node_subsettings">
<entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
</config>
<config key="model">
<entry key="driver" type="xstring" value="com.mysql.jdbc.Driver"/>
<entry key="database" type="xstring" value="jdbc:mysql://&lt;host&gt;:&lt;port&gt;/&lt;database_name&gt;"/>
<entry key="user" type="xstring" value=""/>
<entry key="password" type="xstring" value=""/>
<entry key="timezone" type="xstring" value="current"/>
<entry key="validateConnection" type="xboolean" value="false"/>
<entry key="retrieveMetadataInConfigure" type="xboolean" value="false"/>
<entry key="allowSpacesInColumnNames" type="xboolean" value="true"/>
<entry key="rowIdsStartWithZero" type="xboolean" value="false"/>
<entry key="databaseIdentifier" type="xstring" isnull="true" value=""/>
<entry key="table" type="xstring" value="KNIME_twitter_dump"/>
<entry key="append_data" type="xboolean" value="true"/>
<entry key="insert_null_for_missing_cols" type="xboolean" value="false"/>
<config key="sql_types">
<entry key="Profile image" type="xstring" value="varchar(255)"/>
<entry key="User" type="xstring" value="varchar(255)"/>
<entry key="Tweet" type="xstring" value="varchar(255)"/>
<entry key="Time" type="xstring" value="varchar(255)"/>
<entry key="Favorited" type="xstring" value="integer"/>
<entry key="Retweeted" type="xstring" value="integer"/>
<entry key="Retweet from" type="xstring" value="varchar(255)"/>
</config>
<entry key="batch_size" type="xint" value="1"/>
</config>
<entry key="customDescription" type="xstring" isnull="true" value=""/>
<entry key="state" type="xstring" value="EXECUTED"/>
<entry key="factory" type="xstring" value="org.knime.base.node.io.database.DBWriterNodeFactory"/>
<entry key="node-name" type="xstring" value="Database Writer"/>
<entry key="node-bundle-name" type="xstring" value="KNIME Base Nodes"/>
<entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.base"/>
<entry key="node-bundle-vendor" type="xstring" value="KNIME GmbH, Konstanz, Germany"/>
<entry key="node-bundle-version" type="xstring" value="2.12.2.0049834"/>
<config key="factory_settings"/>
<entry key="name" type="xstring" value="Database Writer"/>
<entry key="hasContent" type="xboolean" value="true"/>
<entry key="isInactive" type="xboolean" value="false"/>
<config key="ports"/>
<config key="filestores">
<entry key="file_store_location" type="xstring" isnull="true" value=""/>
<entry key="file_store_id" type="xstring" value="5e699d50-0664-4be6-a084-8157b79f7af3"/>
</config>
</config>
