<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
<entry key="node_file" type="xstring" value="settings.xml"/>
<config key="flow_stack"/>
<config key="internal_node_subsettings">
<entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
</config>
<config key="model">
<config key="NODE_DEGREE_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="NODE_DEGREE" type="xboolean" value="false"/>
<config key="IN_OUT_DEGREE_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="IN_OUT_DEGREE" type="xboolean" value="false"/>
<config key="CLOSENESS_CENTRALITY_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="CLOSENESS_CENTRALITY" type="xboolean" value="false"/>
<config key="NODE_WEIGHT_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="NODE_WEIGHT" type="xboolean" value="false"/>
<config key="CLUSTERING_COEFFICIENT_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="CLUSTERING_COEFFICIENT" type="xboolean" value="false"/>
<config key="JungHITSAnalyzer_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="JungHITSAnalyzer" type="xboolean" value="false"/>
<config key="JUNG_Barycenter_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="JUNG_Barycenter" type="xboolean" value="false"/>
<config key="EDGE_DEGREE_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="EDGE_DEGREE" type="xboolean" value="false"/>
<config key="EDGE_WEIGHT_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="EDGE_WEIGHT" type="xboolean" value="false"/>
<config key="CONNECTED_COMPONENT_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="CONNECTED_COMPONENT" type="xboolean" value="false"/>
<config key="PARTITION_COUNTER_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="PARTITION_COUNTER" type="xboolean" value="false"/>
<config key="NODE_COUNTER_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="NODE_COUNTER" type="xboolean" value="true"/>
<config key="EDGE_COUNTER_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="EDGE_COUNTER" type="xboolean" value="true"/>
<config key="percentage_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_integer"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="percentage" type="xint" value="100"/>
<config key="multiThreaded_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="multiThreaded" type="xboolean" value="true"/>
<config key="wideSummaryTable_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="wideSummaryTable" type="xboolean" value="false"/>
</config>
<entry key="customDescription" type="xstring" isnull="true" value=""/>
<entry key="state" type="xstring" value="EXECUTED"/>
<entry key="factory" type="xstring" value="org.knime.network.node.analysis.network.NetworkAnalyzerNodeFactory"/>
<entry key="node-name" type="xstring" value="Network Analyzer"/>
<entry key="node-bundle-name" type="xstring" value="Network Base Plug-in"/>
<entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.network.base"/>
<entry key="node-bundle-vendor" type="xstring" value="Chair for Bioinformatics and Information Mining,University of Konstanz,Germany"/>
<entry key="node-bundle-version" type="xstring" value="2.10.0.0043630"/>
<config key="factory_settings"/>
<entry key="name" type="xstring" value="Network Analyzer"/>
<entry key="hasContent" type="xboolean" value="true"/>
<entry key="isInactive" type="xboolean" value="false"/>
<config key="ports">
<config key="port_1">
<entry key="index" type="xint" value="1"/>
<entry key="port_spec_class" type="xstring" value="org.knime.core.data.DataTableSpec"/>
<entry key="port_object_class" type="xstring" value="org.knime.core.node.BufferedDataTable"/>
<entry key="port_object_summary" type="xstring" value="Rows: 0, Cols: 0"/>
<entry key="port_dir_location" type="xstring" value="port_1"/>
</config>
<config key="port_2">
<entry key="index" type="xint" value="2"/>
<entry key="port_spec_class" type="xstring" value="org.knime.core.data.DataTableSpec"/>
<entry key="port_object_class" type="xstring" value="org.knime.core.node.BufferedDataTable"/>
<entry key="port_object_summary" type="xstring" value="Rows: 0, Cols: 0"/>
<entry key="port_dir_location" type="xstring" value="port_2"/>
</config>
<config key="port_3">
<entry key="index" type="xint" value="3"/>
<entry key="port_spec_class" type="xstring" value="org.knime.core.data.DataTableSpec"/>
<entry key="port_object_class" type="xstring" value="org.knime.core.node.BufferedDataTable"/>
<entry key="port_object_summary" type="xstring" value="Rows: 2, Cols: 2"/>
<entry key="port_dir_location" type="xstring" value="port_3"/>
</config>
</config>
<config key="filestores">
<entry key="file_store_location" type="xstring" isnull="true" value=""/>
<entry key="file_store_id" type="xstring" isnull="true" value=""/>
</config>
</config>
